<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROTOTIPO CENTELSA</title>
    <!-- Icons -->
    <link rel="stylesheet" href="/librerias/icons/font/bootstrap-icons.min.css">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- BOOTSTRAP 5 -->
    <link href="/librerias//bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/librerias//bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
        function setUserProfile(imageUrl, name, email) {
            const defaultImage = "no_image.jpg";
            const finalImage = imageUrl && imageUrl.trim() ? imageUrl : defaultImage;

            console.log(finalImage);

            document.getElementById('profile-pic').style.backgroundImage = `url('/uploads/users/${finalImage}')`;
            document.getElementById('user-name').textContent = name;
            document.getElementById('user-email').textContent = email;
        }
    </script>

    <style>
        .check-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 2px solid #007bff;
            color: #fff;
            background-color: transparent;
        }

        .check-container.checked {
            background-color: #007bff;
        }

        .check-container i {
            display: none;
        }

        .check-container.checked i {
            display: inline;
        }

        .custom-checkbox {
            transform: scale(1.5);
        }

        .checkbox-col {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
        }

        .list-group-item {
            min-height: 10px;
        }

        .substep-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .text-col {
            flex: 1;
            padding-right: 30px;
            text-align: justify;
        }

        .checkbox-col {
            flex-shrink: 0;
        }

        .small-label {
            font-size: 0.9rem;
        }

        /* Estilos para el formulario de observaciones */
        .observations-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .observations-form {
            width: 100%;
        }

        .accordion-collapse {
            background-color: #bfbfbf;
        }
    </style>
</head>

<body>
    {{{body}}}
</body>

</html>