<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROTOTIPO CENTELSA</title>
    <!-- Icons -->
    <link rel="stylesheet" href="/librerias/icons/font/bootstrap-icons.min.css">
    <!-- BOOTSTRAP 5 -->
    <script src="/librerias//bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    {{{body}}}
</body>

</html>