<div class="card mx-auto mt-5" style="max-width: 50%;">
    <h5 class="card-header">Procedimiento asignado con éxito</h5>
    <div class="card-body">
        <p class="card-text">Al correo de la persona encargada de realizar el procedimiento se le ha enviado un link
            de ingreso a la guía correspondiente</p>
        <div class="text-center">
            <a href="/asignar" class="btn btn-primary w-100">Asignar otro procedimiento</a>
            <a href="/" class="btn btn-danger w-100 mt-1">Salir</a>
        </div>
    </div>
</div>
